http:// {
  root * /srv
  file_server

  # Match the textures.json file & .prbm files
  @gz path /maps/*/textures.json *.prbm

  # Find .gz files (if not found respond with 204) for the above matcher, and set the "Content-Encoding gzip" header
  handle @gz {
    try_files {path}.gz =204
    header {
      Content-Encoding gzip
      Cache-Control max-age=86400
    }
  }

  # Respond with 204 for non-existent map-tiles
  @204 path */tiles/*
  handle @204 {
    try_files {path} =204
  }

  # OPTIONAL:
  # Proxy requests for live data to the bluemaps integrated webserver.
  # If you have multiple servers you will need to proxy each map-id to the correct server.
  # 
  # handle /maps/*/live/* {
  #   reverse_proxy 127.0.0.1:8100
  # }
}